[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
# mitmproxy = {git = "https://github.com/mitmproxy/mitmproxy.git", editable = true}
psutil = "*"
python-crontab = "*"
flake8 = "*"
mitmproxy = "*"

[dev-packages]
pytest = "*"
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
flake8 = "*"

[requires]
python_version = "3.6"
